@charset "utf-8";

.footer{
    background-color: black;
}
.footer .inner-footer{
    flex: 0 1 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #555;
    padding: 20px;
    box-sizing: border-box;
    : ;
}
.footer .inner-footer .fcon{
    color: #Fff;
}